
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Sigmar&display=swap');

:root {
    --type-normal:#a8a878;
    --type-fire:#f08030;
    --type-water:#6890f0;
    --type-grass:#78c850;
    --type-electric:#f8d030;
    --type-ice:#98d8d8;
    --type-fighting:#c03028;
    --type-poison:#a040a0;
    --type-ground:#e0c068;
    --type-flying:#a890f0;
    --type-psychic:#f85888;
    --type-bug:#a8B820;
    --type-rock:#b8a038;
    --type-ghost:#705898;
    --type-dark:#705848;
    --type-dragon:#7038f8;
    --type-steel:#b8b8d0;
    --type-fairy:#f0b6bc;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://i.pinimg.com/originals/af/92/99/af92992e01ed558690e8d6e0bbefb0c9.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}   
header {
    background-color: rgba(110, 170, 115, 0.61);
    box-shadow: 0px 1px 10px rgba(27, 7, 7, 0.753);
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
}

.nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.nav li {
    display: flex;
    align-items: center;
    list-style: none;
}
.btn {
    width: auto;
    height: 30px;
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.342);
    cursor: pointer;

    font-size: 11px;
    font-family: 'Sigmar', sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}
.btn:hover {
    transition: all 0.2s ease;
    transform: scale(1.02);
    filter:brightness(1.25) ;
}

.normal{
    background-color: var(--type-normal);
}
.fire{
    background-color: var(--type-fire);
}
.water{
    background-color: var(--type-water);
}
.grass{
    background-color: var(--type-grass);
}
.electric{
    background-color: var(--type-electric);
}
.ice{
    background-color: var(--type-ice);
}
.fighting{
    background-color: var(--type-fighting);
}
.poison{
    background-color: var(--type-poison);
}
.ground{
    background-color: var(--type-ground);
}
.flying{
    background-color: var(--type-flying);
}
.psychic{
    background-color: var(--type-psychic);
}
.bug{
    background-color: var(--type-bug);
}
.rock{
    background-color: var(--type-rock);
}
.ghost{
    background-color: var(--type-ghost);
}
.dark{
    background-color: var(--type-dark);
}
.dragon{
    background-color: var(--type-dragon);
}
.steel{
    background-color: var(--type-steel);
}
.fairy{
    background-color: var(--type-fairy);
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    overflow:scroll;
}
main::-webkit-scrollbar {
    display: none;
}
.pokemon-todos {
    display: grid;
    height: 75vh;
    grid-template-columns: 1fr;
    gap: 20px;
}
@media screen and (min-width: 470px){
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 700px){
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.pokemon {
    border-radius: 20px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2bc72d3c-39ce-45f3-a55c-e0903291ace0/d17dpy4-a8d0b94a-0351-4d9b-9636-33cc1842f0d2.jpg/v1/fill/w_600,h_486,q_75,strp/background_art_for_pokemon_by_orangedroplet_d17dpy4-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDg2IiwicGF0aCI6IlwvZlwvMmJjNzJkM2MtMzljZS00NWYzLWE1NWMtZTA5MDMyOTFhY2UwXC9kMTdkcHk0LWE4ZDBiOTRhLTAzNTEtNGQ5Yi05NjM2LTMzY2MxODQyZjBkMi5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Xa7d7pbU0rU7MNWAomQrAPKjMwYxdB82ALLKMZO_pOs);
    background-position:bottom;
    background-repeat: no-repeat;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.205);
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
}
.pokemon:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
}

.pokemon-id-back {
    position: absolute;
    top: 5px;
    left: 20px;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 255, 76);
    text-shadow: 2px 1px black;
    overflow: hidden;
    z-index: -1;
}
.pokemon-img {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
.pokemon-img img{
    width: 100%;
    max-width: 8rem;
};
.pokemon-info {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}
.name-pokemon {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Sigmar', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 3px black;
    letter-spacing: 2px;
    margin: 20px 0;
}
.type-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px 15px;
    font-size: 12px;
    font-family: 'Sigmar', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 0px rgb(255, 255, 255);
    letter-spacing: 2px;
}
.type {
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
}