
:root {
    --type-normal:#a8a878;
    --type-fire:#f08030;
    --type-water:#6890f0;
    --type-grass:#78c850;
    --type-electric:#f8d030;
    --type-ice:#98d8d8;
    --type-fighting:#c03028;
    --type-poison:#a040a0;
    --type-ground:#e0c068;
    --type-flying:#a890f0;
    --type-psychic:#f85888;
    --type-bug:#a8B820;
    --type-rock:#b8a038;
    --type-ghost:#705898;
    --type-dark:#705848;
    --type-dragon:#7038f8;
    --type-steel:#b8b8d0;
    --type-fairy:#f0b6bc;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(201, 201, 201, 0.678);
}
header {
    background-color: rgb(233, 231, 231);
    box-shadow: 0px 1px 10px rgba(27, 7, 7, 0.171);
    display: flex;
    justify-content: center;
}

.nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.btn {
    width: auto;
    height: 30px;
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.342);
    cursor: pointer;

    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
}
.btn:hover {
    transition: all 0.095s ease;
    transform: scale(1.09);
    filter:brightness(1.2) ;
}

.normal{
    background-color: var(--type-normal);
}
.fire{
    background-color: var(--type-fire);
}
.water{
    background-color: var(--type-water);
}
.grass{
    background-color: var(--type-grass);
}
.electric{
    background-color: var(--type-electric);
}
.ice{
    background-color: var(--type-ice);
}
.fighting{
    background-color: var(--type-fighting);
}
.poison{
    background-color: var(--type-poison);
}
.ground{
    background-color: var(--type-ground);
}
.flying{
    background-color: var(--type-flying);
}
.psychic{
    background-color: var(--type-psychic);
}
.bug{
    background-color: var(--type-bug);
}
.rock{
    background-color: var(--type-rock);
}
.ghost{
    background-color: var(--type-ghost);
}
.dark{
    background-color: var(--type-dark);
}
.dragon{
    background-color: var(--type-dragon);
}
.steel{
    background-color: var(--type-steel);
}
.fairy{
    background-color: var(--type-fairy);
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
@media screen and (min-width: 470px){
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 700px){
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.pokemon {
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0 2px 10px black;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
}
.pokemon-id-back {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    font-weight: bold;
    color: rgba(41, 41, 41, 0.082);
    overflow: hidden;
    z-index: -1;
}
.pokemon-img {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
.pokemon-img img{
    width: 100%;
    max-width: 6rem;
};
.pokemon-info {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}
.name-pokemon {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px 0;
}
.type-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px 15px;
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
}
.type {
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
}